.size{
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 100vh

}
.change{
    height: 300px;
    width: 300px;
}

@media(max-width: 299px){
    .change{
        background-color: green;
    }
}
@media(min-width:300px) and (max-width:399px){
    .change{
        background-color: pink;
    }
}
@media(min-width:400px) and (max-width:599px){
    .change{
        background-color: red;
    }
}
@media(min-width:600px){
    .change{
        background-color: blue;
    }
}